@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

/* .fullwidth {
  border: 2px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

.fixedwidth {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid red;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  justify-content: space-evenly;
} */

.subcontainer {
  border: 2px solid red;
  font-size: 1.5rem;
  flex-basis: 20%;
}

.maincontainer {
  background-color: lightgray;
}

.container {
  width: 1170px;
  border: 2px solid blue;
  margin: 0 auto;
}

.head {
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  margin-bottom: 30px;
}

.ln_parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ln_child {
  border: 2px solid red;
  flex-basis: 30%;
  text-align: center;
  margin-bottom: 45px;

  img {
    width: 60px;
  }

  h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 22px;
  }

  p {
    font-weight: 400;
    line-height: 28px;
  }
}

.wws_top {
  text-align: center;
}

.wws_parent {
  display: flex;
  justify-content: space-between;

  .wws_child {
    flex-basis: 30%;
  }
}

/* .parent {
display: flex;
width: 800px;
flex-wrap: wrap;
flex-direction: row-reverse;
}

.child {
  flex-grow: 1;
  border: 2px solid red;
  font-size: 1.5rem;
  width: 100px;
} 
 .grow1 {
  flex-grow: 1;
}
.grow2 {
  flex-grow: 2;
}
.grow3 {
  flex-grow: 3;
}

.child {
  border: 2px solid red;
  font-size: 1.5rem;
  flex-basis: 33.33%;
  color: white;
}

.parent .child:nth-child(1) {
    background-color: yellow;
    order: 3;
}
.parent .child:nth-child(2) {
  background-color: green;
  order: 4;
}
.parent .child:nth-child(3) {
  background-color: blue;
  order: 1;
}
.parent .child:nth-child(4) {
  background-color: violet;
  order:6;
}
.parent .child:nth-child(5) {
  background-color: pink;
  order: 2;
}
.parent .child:nth-child(6) {
  background-color: orange;
  order: 5;
} */
/* 
.maincontainer {
  border: 2px solid red;
  height: 400px;
  display: flex;
  align-items: center;
  .subconntainer {
    border: 2px solid blue;
    font-size: 1.5rem;
    flex-basis: 33.33%;
  }
}

.content {
  height: 300px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .head {
  text-align: center;
}
 576px to infinity
@media all and (min-width: 576px) {
  .head {
    font-size: 34px;
  }  
}
768px to infinity
@media all and (min-width: 768px) { 
  .head {
    font-size: 40px;
  }
}
992px to infinity
@media all and (min-width: 992px) { 
  .head { 
    font-size: 46px;
  }
}

@media all and (max-width: 576px) {
  .head {
    font-size: 30px;
    color: blue;
  }
}
 */
.parent {
  display: flex;
  flex-wrap: wrap;
}
.child {
  border: 2px solid red;
  font-size: 1.5rem;
  text-align: center;
}

@media all and (min-width: 576px) {
  .child {
    flex-basis: 50%;
  }
}

@media all and (min-width: 768px) {
  .child {
    flex-basis: 33.33%;
  }
}

@media all and (min-width: 992px) {
  .child {
    flex-basis: 25%;
  }
}

@media all and (max-width: 576px) {
  .child {
    flex-basis: 100%;
  }
}